* {
	margin: 0;
	padding: 0;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

body {
	font-family: Arial, sans-serif;
	background-color: #EDF2F4;
}

.to-do-list {
	margin: 50px 0 0 50px;
	padding: 35px 35px 60px 35px;
	width: 33%;
	border: 1px solid rgba(176, 183, 193, .4);
	-webkit-box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.75);
	background-color: #FFF1D0;
}

.to-do-list__header {
	font-size: 26px;
	text-align: center;
}

.to-do-list__list {
	margin: 26px 0 0 0;
}

.to-do-list__item {
	list-style-position: inside;
	line-height: 35px;
	font-size: 22px;
}

.to-do-list__button {
	float: right;
	margin: 5px;
	width: 35px;
	height: 35px;
	-webkit-background-size: 35px;
	background-size: 35px;
}

.to-do-list__button--edit {
	background-image: url(../img/pencil.svg);
}

.to-do-list__button--delete {
	background-image: url(../img/flame.svg);
}

.to-do-list__button--add {
	margin: 5px 50px 5px 5px;
	background-image: url(../img/compose.svg);
}

.to-do-list__button--apply {
	display: none;
	background-image: url(../img/pin.svg);
}

.to-do-list__button--cancel {
	display: none;
	background-image: url(../img/denied.svg);
}

.to-do-list__input {
	margin: 5px;
	width: 280px;
	height: 35px;
	border: none;
	background-color: #FFF1D0;
	font-size: 22px;
}