<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>To-Do List</title>
	<!-- <link rel="stylesheet" href="css/styles.css"> -->
	<link rel="stylesheet" href="built/styles-min.css">
	<!-- <script data-main="js/app" src="js/require.js"></script> -->
	<script src="built/scripts-min.js"></script>
</head>
<body>
	<div class="to-do-list">
		<h1 class="to-do-list__header">Список завдань на сьогодні</h1>
		<ul class="to-do-list__list">
			<li class="to-do-list__item clearfix">
				<span class="to-do-list__item-text">Fuck!!!</span>
				<a href="#" class="to-do-list__button to-do-list__button--delete"></a>
				<a href="#" class="to-do-list__button to-do-list__button--edit"></a>
				<a href="#" class="to-do-list__button to-do-list__button--cancel"></a>
				<a href="#" class="to-do-list__button to-do-list__button--apply"></a>
			</li>
			<li class="to-do-list__item clearfix">
				<span class="to-do-list__item-text">I</span>
				<a href="#" class="to-do-list__button to-do-list__button--delete"></a>
				<a href="#" class="to-do-list__button to-do-list__button--edit"></a>
				<a href="#" class="to-do-list__button to-do-list__button--cancel"></a>
				<a href="#" class="to-do-list__button to-do-list__button--apply"></a>
			</li>
			<li class="to-do-list__item clearfix">
				<span class="to-do-list__item-text">did</span>
				<a href="#" class="to-do-list__button to-do-list__button--delete"></a>
				<a href="#" class="to-do-list__button to-do-list__button--edit"></a>
				<a href="#" class="to-do-list__button to-do-list__button--cancel"></a>
				<a href="#" class="to-do-list__button to-do-list__button--apply"></a>
			</li>
			<li class="to-do-list__item clearfix">
				<span class="to-do-list__item-text">it!!!</span>
				<a href="#" class="to-do-list__button to-do-list__button--delete"></a>
				<a href="#" class="to-do-list__button to-do-list__button--edit"></a>
				<a href="#" class="to-do-list__button to-do-list__button--cancel"></a>
				<a href="#" class="to-do-list__button to-do-list__button--apply"></a>
			</li>
		</ul>
		<div class="to-do-list__item clearfix">
			<input type="text" class="to-do-list__input to-do-list__input--add" placeholder="Додати новий пункт">
			<a href="#" class="to-do-list__button to-do-list__button--add"></a>
		</div>
	</div>
	<script type="text/tmpl" id="list">
		<% for (var i = 0; i < data.length; i++) { %>
			<li class="to-do-list__item clearfix">
				<span class="to-do-list__item-text"><%= data[i] %></span>
				<a href="#" class="to-do-list__button to-do-list__button--delete"></a>
				<a href="#" class="to-do-list__button to-do-list__button--edit"></a>
				<a href="#" class="to-do-list__button to-do-list__button--cancel"></a>
				<a href="#" class="to-do-list__button to-do-list__button--apply"></a>
			</li>
		<% }; %>
	</script>
</body>
</html>